  :root {
    --tab-min-height: 20px; 
  }
  
  #tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
    height: 1em;
  }
  
  .tabbrowser-tab {
    padding: 0px 1px;
  }


#main-window #TabsToolbar {
  height: 42px !important;
  overflow: hidden;
  transition: height .3s .3s !important;
}
#main-window[titlepreface*="SB"] #TabsToolbar-customization-target {
  display: none;
}
#main-window[titlepreface*="SB"] #nav-bar {
  margin-right: 138px;
  margin-top: -31px;
}


#tabbrowser-tabbox,#sidebar-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

#sidebar-box {
  margin-right: 10px;
  margin-left: 10px;
}

#tabbrowser-tabbox {
  margin-right: 10px;
}

#tabbrowser-tabpanels, tabpanels, .browserContainer, .browserStack, browser,#sidebar-box {
  border-radius: 10px;
  box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.3);
}

.sidebar-splitter {
  background: none;
  border: none;
}

#browser, #appcontent {
  background: #BBBBBB !important;
}
