#sidebar-header,
#TabsToolbar-customization-target,
#sidebar-splitter,
.bookmark-item > .toolbarbutton-icon,
#back-button, #forward-button,
.bookmark-item:not(.subviewbutton) > .menu-iconic-left {
  display: none;
}

#urlbar-container, #PlacesToolbarItems {
  justify-content: center !important;
}

.browser-toolbar {
    background-color: transparent !important;
}

#nav-bar {
    box-shadow: none !important;
}

